<!DOCTYPE html>
<html lang="en" ng-app="ChocolateApp">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
    <script src="js/ng-chocolate-controller.js"></script>
    <script src="../static/js/ng-chocolate-controller.js"></script>

    <link rel="stylesheet" type="text/css" href="styleSheet.css">
    <link rel="stylesheet" type="text/css" href="../static/styleSheet.css">
</head>
<body ng-controller="ChocolateControl">

<!--
{{! changing the mustache delimiter so it doesn't conflict with  }}
{{! the default angularjs delimeters - https://mustache.github.io/mustache.5.html for more info  }}
{{=<% %>=}}
-->


<h3>Welcome to my chocolate factory!</h3>


<span>
    <input ng-model="info.numSmalls" type="text" placeholder="Small Chocolate!" name="numSmalls"/>
    <input ng-model="info.numBigs" type="text" placeholder="Big Chocolate!"/>
</span>

<br/><br/>
<h3>How many kilos of chocolate would you like to make?</h3>
<br/>

<span>
    <input ng-model="info.numGoal" type="text" placeholder="Goal"/>
    <input type="submit" ng-click="solveChocolate(info.numSmalls, info.numBigs, info.numGoal)" value="Solve Chocolate"/>
</span>


<div ng-repeat="chocIndex in makeArray(info.numBigs)">
    <div class="choc-big-bar">{{chocIndex + 1}}</div>
</div>
<div ng-repeat="chocIndex in makeArray(info.numSmalls)">
    <div class="choc-small-bar">{{chocIndex + 1}}</div>
</div>


<br/><br/><br/><br/><br/><br/><br/><br/>


<span ng-if="finishedChocolate.hasSolution==false">
    <h1>Not enough chocolate D'=</h1>
</span>

<span ng-if="finishedChocolate.hasSolution==true">
<div ng-repeat="finishIndex in makeArray(finishedChocolate.bigs)">
    <div class="choc-big-bar"> {{finishIndex + 1}} </div>
</div>

<div ng-repeat="finishIndex in makeArray(finishedChocolate.smalls)">
    <div class="choc-small-bar"> {{finishIndex + 1}} </div>
</div>
</span>

<!--{{testvar}}-->


</body>
</html>